.bottom-item{
    position: absolute;
    margin-bottom: 0;
}

/*@@media  {

}*/

#feed-div{
    width: 270px;
    position: absolute;
    right: 0;
}

#middle-content{
    margin-left: 260px;
    margin-right: 270px;
    transition: 0;
    transform: translate3d(0,0,0);
}

#card-container, #settings-container{
    height: 100%;
    overflow-y: auto;
    border-radius: 0;
}

#input-container{
    margin-right: 15px;
    margin-left: 15px;
}

.noradius-input{
    margin-left:0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: transparent;
    border-right-color: black;
}
